body {
	background-color: #eeeeee;
	font-family: Verdana;
}



#loginScreenDiv{
	border: 1px solid black;
	width: 1200px;
	height: 600px;
	margin: 0 auto; 
	background-color: #336699;
	text-align: center;
	color: #cccccc;
}

#gameNameDiv{
	position: absolute;
	top: calc(50% - 130px);
	left: calc(50% - 150px);
	width: 300px;
	height: 100px;
	font-size: 40px;
}

#enterNameDiv{
	position: absolute;
	top: calc(50% - 70px);
	left: calc(50% - 155px);
	border: 2px solid #cccccc;
	width: 300px;
	padding: 5px;
}

#nameInput{
	margin: 5px;
	width: 150px;
	border: 1px solid #cccccc;
	height: 24px;
	background-color: #eeeeee;
	color: #336699;
}


#loginButton{
	margin: 5px;
	border: 0px solid #cccccc;
	width: 100px;
	height: 24px;
	color: #336699;
	background-color: #cccccc;
}



#lobbyScreenDiv{
	display: none;
	position: relative;
	border: 1px solid black;
	width: 1200px;
	height: 600px;
	margin: 0 auto; 
	background-color: #336699;
	text-align: center;
	color: #cccccc;
}

#lobbyHeaderDiv{
	border-bottom: 2px solid #cccccc;
	width: 100%;
	height: 55px;
	font-size: 40px;
}

#gamesListContainerDiv{
	position: absolute;
	top: 57px;
	left: 0px;
	border-right: 2px solid #cccccc;
	width:300px;
	height: 543px;
	text-align: left;
}

#gamesListDiv{
	width: 296px;
	height: 492px;
	overflow-y:scroll;
}

#lobbyChatContainerDiv{
	position: absolute;
	top: 57px;
	left: 300px;
	width: 600px;
	height: 543px;
	text-align: left;
}

#playersListContainerDiv{
	position: absolute;
	top: 57px;
	left: 900px;
	border-left: 2px solid #cccccc;
	width: 300px;
	height: 543px;
	text-align: left;
	padding-left: 4px;
}

#playersListDiv{
	background-color: #D8E4E8;
	width: 290px;
	height: 522px;
	font-size: 14px;
	color: #336699;
	overflow-y:scroll;
}

#openRoomButton{
	position: absolute;
	left: 3px;
	bottom: 3px;
	border: 0px solid #cccccc;
	width: 294px;
	height: 24px;
	color: #336699;
	background-color: #cccccc;
}

#logoutButton{
	position: absolute;
	right: 3px;
	top: 3px;
	border: 0px solid #cccccc;
	width: 100px;
	height: 24px;
	color: #336699;
	background-color: #cccccc;
}

#lobbyChatDiv{
	background-color: #D8E4E8;
	width: 590px;
	height: 492px;
	font-size: 14px;
	margin-left: 5px;
	color: #336699;
	overflow-y:scroll;
}

#lobbyChatInput{
	margin: 5px;
	width: 590px;
	border: 1px solid #cccccc;
	height: 24px;
	background-color: #eeeeee;
	color: #336699;
}



#roomScreenDiv{
	display: none;
	position: relative;
	border: 1px solid black;
	width: 1200px;
	height: 600px;
	margin: 0 auto; 
	background-color: #336699;
	text-align: center;
	color: #cccccc;
}

#roomHeaderDiv{
	border-bottom: 2px solid #cccccc;
	width: 100%;
	height: 55px;
	font-size: 40px;
}

#closeTheGameButton{
	position: absolute;
	display: none;
	right: 3px;
	top: 3px;
	border: 0px solid #cccccc;
	width: 120px;
	height: 24px;
	color: #336699;
	background-color: #cccccc;
}

#leaveTheGameButton{
	position: absolute;
	display: none;
	right: 3px;
	top: 3px;
	border: 0px solid #cccccc;
	width: 120px;
	height: 24px;
	color: #336699;
	background-color: #cccccc;
}

#gameOptionsContainerDiv{
	position: absolute;
	top: 57px;
	left: 0px;
	border-right: 2px solid #cccccc;
	width:300px;
	height: 543px;
	text-align: left;
}

#roomChatContainerDiv{
	position: absolute;
	top: 57px;
	left: 300px;
	width: 600px;
	height: 543px;
	text-align: left;
}

#roomPlayersListContainerDiv{
	position: absolute;
	top: 57px;
	left: 900px;
	border-left: 2px solid #cccccc;
	width: 300px;
	height: 543px;
	text-align: left;
	padding-left: 4px;
}

#roomPlayersListDiv{
	background-color: #D8E4E8;
	width: 290px;
	height: 522px;
	font-size: 14px;
	color: #336699;
}

#roomChatDiv{
	background-color: #D8E4E8;
	width: 590px;
	height: 492px;
	font-size: 14px;
	margin-left: 5px;
	color: #336699;
	overflow-y:scroll;
}

#roomChatInput{
	margin: 5px;
	width: 590px;
	border: 1px solid #cccccc;
	height: 24px;
	background-color: #eeeeee;
	color: #336699;
}

#startGameButton{
	position: absolute;
	display: none;
	left: 3px;
	bottom: 3px;
	border: 0px solid #cccccc;
	width: 294px;
	height: 24px;
	color: #336699;
	background-color: #cccccc;
}

#startGameButton:disabled{
	color: #666666;
}

#readyGameButton{
	position: absolute;
	display: none;
	left: 3px;
	bottom: 3px;
	border: 0px solid #cccccc;
	width: 294px;
	height: 24px;
	color: #336699;
	background-color: #cccccc;
}




#gameDiv{
	display: none;
	position: relative;
	border: 1px solid black;
	width: 1200px;
	height: 600px;
	margin: 0 auto; 
	background-color: #336699;
	text-align: center;
	color: #cccccc;
}

#gameTopBarDiv{
	border-bottom: 2px solid #cccccc;
	width: 100%;
	height: 30px;
}

#surrenderButton{
	position: absolute;
	right: 3px;
	top: 3px;
	border: 0px solid #cccccc;
	width: 120px;
	height: 24px;
	color: #336699;
	background-color: #cccccc;
}

#gameCanvas{
	width: 1200px;
	height: 568px;
	background-color: black;
}

#creditsDiv{
	display: inline;
	position: absolute;
	left: 3px;
	top: 6px;
}

#unitButtonsDiv{
	position: absolute;
	left: 160px;
	top: 0px;
	width: 280px;
	height: 28px;
	text-align: left;
	padding-top: 3px;
	border-left: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
}

.unitButton{
	border: 0px solid #cccccc;
	width: 60px;
	height: 24px;
	color: #cccccc;
	background-color: #336699;
	text-align: left;
}

.unitImage{
	margin: 1px;
}

.unitLabel{
	position: absolute;
	top: 7px;
}

#progressBarDiv{
	position: absolute;
	left: 450px;
	top: 0px;
	width: 106px;
	height: 28px;
	text-align: left;
	padding-top: 3px;
	border-right: 2px solid #cccccc;
}

#progressBarBackground{
	position: absolute;
	top: 9px;
	width: 100px;
	height: 13px;
	background-color: #cccccc;
}

#progressBarProgress{
	position: absolute;
	top: 9px;
	width: 0px;
	height: 13px;
	background-color: #7CC0D6;
}

#playersNamesDiv{
	display: inline;
	position: absolute;
	right: 135px;
	top: 6px;
}







#endGameMessageDiv{
	display: none;
	position:absolute;
	top: 0px;
	left: 0px;
	border: 1px solid black;
	width: 1200px;
	height: 600px;
	margin: 0 auto; 
	background-color: rgba(0,0,0,0.4);
}

#endGameMessageBoxDiv{
	position: absolute;
	top: calc(50% - 60px);
	left: calc(50% - 160px);
	border: 2px solid #cccccc;
	width: 300px;
	height: 70px;
	padding: 10px;
	background-color: #336699;
	text-align: center;
}

#endGameMessageButton{
	position: absolute;
	left: 540px;
	top: 300px;
	border: 0px solid #cccccc;
	width: 120px;
	height: 24px;
	color: #336699;
	background-color: #cccccc;
}

